* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #202020;
}
#container {
  width: 90%;
  padding: 15px 0;
}
#area-conteudo,
#area-inicial {
  margin: 5px 0;
  border-radius: 10px;
}
#area-inicial {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px 0;
  background-color: #0d0d0d;
}
#foto img {
  display: block;
  margin: 10px;
  width: 200px;
  border-radius: 100%;
}
#nome {
  margin-bottom: 25px;
  text-align: center;
  color: #ecf0f1;
}
#nome h2,
p {
  text-align: start;
}
#nome h2 {
  margin-top: 15px;
}
#nome p {
  margin-top: 5px;
}
#area-inicial #contato {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#contato img {
  margin: 0;
  width: 42px;
  height: 42px;
  color: #ecf0f1;
}
#area-conteudo {
  margin-top: 20px;
  padding: 15px;
  background-color: #f2f2f2;
}
#cabecalho {
  color: #0d0d0d;
  margin: 20px 30px;
}
#cabecalho p {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 50px;
}
.area-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 60px;
}
input {
  display: none;
}
.quadrado {
  width: 30%;
  background-color: #f2f2f2;
  box-shadow: 0 0 7px #afafaf;
  margin: 15px 0;
  border-radius: 10px;
  transition: 0.3s;
  height: 100%;
}
.quadrado:hover {
  box-shadow: 0 0 10px #313b2f;
  transition: 0.3s;
}

.quadrado .titulo {
  background-color: #202020;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  color: #ecf0f1;
  text-align: center;
}
.conteudo-titulo {
  margin: 10px;
  font-weight: bold;
  text-align: justify;
}
.conteudo {
  display: none;
  padding: 7px 14px;
  transition: 0.3s;
}

.trigger-input:checked + .trigger-wrapper .conteudo {
  display: block;
}
button {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #202020;
  padding: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #f2f2f2;
  font-size: 1.2em;
  font-weight: bold;
}
label {
  cursor: pointer;
}
